@media screen and (max-width: 400px) {
  #features {
    /* padding: 20px; */
    display: block;
    width: auto;
  }
  #about,
  #services,
  #testimonials,
  #offerings,
  #team,
  #header,
  #menu,
  #contact,
  #footer {
    display: block;
    width: auto;
  }
  #header h1 {
    font-size: 50px;
  }
  header .intro-text{ 
    padding-top: 100px;
  }

  #portfolio {
    display: block;
    width: auto;
  }
}
